@model DA1.Models.Domain.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

    <div style="margin-left:50px; padding-top:100px;  max-width:1170px; padding-bottom:100px">

        <h1 style="text-decoration: none; text-transform: uppercase; font-size: 70px; font-weight: 800; ">Detail</h1>

        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #1cc88a!important;">
                    @Html.DisplayNameFor(model => model.OrderId)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.OrderId)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff00dc!important;">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff00dc!important;">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff0000!important;">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff0000!important;">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff0000!important;">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff0000!important;">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2" style="padding:20px; border-left: .25rem solid #ff0000!important;">
                    @Html.DisplayNameFor(model => model.status)
                </dt>
                <dd class="col-sm-10" style="padding:20px">
                    @Html.DisplayFor(model => model.status)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>