@model IEnumerable<DA1.Models.Domain.Supplier>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<div style="margin-left:50px; padding-top:100px">

    <h1 style="text-decoration: none; text-transform: uppercase; font-size: 70px; font-weight: 800; ">Product</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th style="padding:20px; border: 1px solid #e5e5e5; border-top: .25rem solid #1cc88a!important;">
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th style="padding:20px; border: 1px solid #e5e5e5; border-top: .25rem solid #ff00dc!important;">
                    @Html.DisplayNameFor(model => model.Adress)
                </th>
                <th style="padding:20px; border: 1px solid #e5e5e5; border-top: .25rem solid #ff0000!important;">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th style="padding:20px; border: 1px solid #e5e5e5; border-top: .25rem solid #00ffff!important;">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th style="border:none"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="vertical-align: middle; border: 1px solid #e5e5e5; ">
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td style="vertical-align: middle; border: 1px solid #e5e5e5; ">
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td style="vertical-align: middle; border: 1px solid #e5e5e5; ">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td style="vertical-align: middle; border: 1px solid #e5e5e5; ">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td style="border:none">
                        <a asp-action="Edit" asp-route-id="@item.SupplierID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SupplierID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SupplierID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>